<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About us</h1>
        <p class="lead">At TODO App, we believe in the power of productivity and the potential for positive change it brings to people's lives.</p>
        <hr class="my-4">
        <p>Our mission is simple: to empower individuals and teams to achieve more, stress less, and find balance in their daily lives. We know how hectic modern life can be, and that's why we've created ToDo App to help you stay organized, focused, and in control of your tasks.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>